# Run command "openssl rand -base64 32" and paste here
AUTH_SECRET=
# User name : Password @ Domain or Docker container name : Port / DB name
DATABASE_URL="mysql://root:db-root-password-paste-here@database:3306/shortbook"

# For Google sign in
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# For LinkedIn sign in
AUTH_LINKEDIN_ID=
AUTH_LINKEDIN_SECRET=

# For GitHub sign in
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Signed-in user email ... Run command "openssl rand -base64 32" and paste here
ENCRYPT_EMAIL_USER=
# Email that inputted to Contect form ... Run command "openssl rand -base64 32" and paste here
ENCRYPT_EMAIL_INQUIRY=
# Payment target book infomation ... Run command "openssl rand -base64 32" and paste here
ENCRYPT_PAYMENT_BOOK_INFO=
# For node:crypto ... Run command "openssl rand -base64 16" and paste here
ENCRYPT_SALT=

# IP Address ... Run command "openssl rand -base64 32" and paste here
HASH_IP_ADDRESS=
# Signed-in user email ... Run command "openssl rand -base64 32" and paste here
HASH_EMAIL_USER=

# Node port for production
PORT=3000

# Inquiry send to
PUBLIC_EMAIL_INQUIRY_TO=contact-desk@shortbook.life

# Profile image CDN origin
PUBLIC_ORIGIN_PROFILE_IMAGE=https://image.shortbook.life


# For AWS services
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-1 # Ireland

# For AWS S3
AWS_BUCKET_PROFILE_IMAGE=
AWS_BUCKET_CONTACT_TICKET_ATTACH=

# For AWS SES
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
EMAIL_FROM=xxxxxxxxxxx@shortbook.life


# Stripe
STRIPE_STANDARD_KEY_ID=
STRIPE_STANDARD_KEY_SECRET=
STRIPE_PRICE_ID_POINT_CHARGE=